<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MethodTestMapper">

    <insert id="insertTest">
        INSERT INTO method_test (content) VALUES (#{content,jdbcType=VARCHAR})
    </insert>

</mapper>